body {
  padding: 0px;
  margin: 0%;
  box-sizing: border-box;
  background-color: rgb(185, 182, 182);
  font-family: "Playpen Sans", cursive;
}

.encabezado {
  background-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.encabezado i {
  font-size: 35px;
  color: blue;
}
.encabezado i .fa-heart-pulse {
  display: flex;
  position: sticky;
}
.fa-heart-pulse {
  position: fixed;
  right: 28px;
  bottom: 40px;
  margin-right: 40px;
  cursor: pointer;
}
/* .check {
  display: none;
} */
.checkbtn {
  font-size: 25px;
  float: right;
  line-height: 80px;
  display: none;
  float: right;
}

.titulo {
  font-size: 4em;
  color: blue;
}
header nav{
    float: right;
}
nav ul {
  display: flex;
}
nav ul.menu{
    float: right;
}
ul li a {
  gap: 6em;
  display: flex;
  margin: 10px;
  color: blue;
  
}
li a {
  text-decoration: none;
  text-decoration-style: none;
  text-transform: uppercase;
}
a:hover {
  color: black;
}

.seccion-1 {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(141, 212, 247); */
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.acerca-de-mi {
  display: flex table-column;
  width: 19em;
  text-align: right;
  width: 48%;
}
parrafo-2 {
  text-align: justify;
}
.acerca-imagen img {
  border-radius: 50%;
}
.imagen-de-carrusel img {
  width: 100%;
  height: 300px;
}

footer {
  display: flex;
  flex-direction: column;
  text-indent: 15px;
  /* margin: 1em; */
  padding: 1em;
}
footer h3 {
  margin-bottom: 0%;
}
footer ul {
  margin-top: 0;
}
ul {
  list-style-type: none;
}
.seccion-3 {
  width: 100%;
  background-color: gray;
  display: flex;
  /* height: 60vh; */
  flex-direction: column;
  /* align-items: center; */
}
.logros {
  text-align: center;
}
.container-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.seccion-3 .tarjetas {
  width: 300px;
  height: 500px;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgb(9, 131, 152);
  box-shadow: 0, 0, 0, 0.2;
  /* display:flex; */
  /* flex-direction: column; */
}
.contenido {
  text-align: center;
}
.tarjetas img {
  width: 100%;
  height: 50%;
  border-radius: 6px;
}
a {
  text-decoration: none;
  text-decoration-style: none;
}

/* MEDIA QUERIES */
/* Estilos para pantallas más pequeñas (hasta 768px) */


@media (max-width: 768px) {
  body {
    background-color: brown;
  }
  .encabezado {
    background-color: black;
  }
  .container-cards {
    flex-direction: column;
  }
  .checkbtn {
    display: block;
  }

  

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(177, 174, 174);
    text-align: center;
    top: 80px;
    left: 100%;
    transition: all 0.5s;
  }
  #check:checked ~ ul {
    left: 0%;
    display: block;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ .checkbtn {
    color: blue;
  }

  .navbar.active{
    height: 100vh;
  }
  .navbar.active ul.menu{
    opacity: 1;
  }


  footer {
    background-color: black;
  }
  footer h3 {
    color: gray;
  }
}
